<div id="<%= dom_id post %>" class="flex flex-col gap-3 mb-5 relative">
  
  <div class="bg-neutral-100 px-4 py-2">
    
    <div class=" flex flex-col gap-1">
      <h1 class="text-2xl font-bold text-gray-900">
        <%= post.title %>
      </h1>
    </div>

    <div class="flex flex-row justify-between items-center">
      <p class="text-sm text-gray-500"><%= post.description %></p>
      <span class="text-sm text-gray-500"><%= post.created_at.strftime("%Y") %></span>
    </div>

  </div>

  <div class="bg-neutral-100 px-4 py-2 w-full">
    <%= post.content %>
  </div>

</div>
