<div id="<%= dom_id post %>" class="flex flex-col gap-3 mb-5 relative">
  
  <div class="bg-neutral-100 px-4 py-2">
    
    <div class=" flex flex-col gap-1">
      <h1 class="text-2xl font-bold text-gray-900">
        <%= post.title %>
      </h1>
    </div>

    <div class="flex flex-row justify-between items-center">
      <p class="text-sm text-gray-500"><%= post.description %></p>
      <% if post.published? %>
      <span class="text-sm text-gray-500"><%= post.published_at.strftime("%Y") %></span>
      <% elsif post.scheduled? %>
      <span class="text-sm text-gray-500">Scheduled <%= post.published_at %></span>
      <% else %>
      <span class="text-sm text-red-500">DRAFT</span>
      <% end %>
    </div>

  </div>

  <div class="bg-neutral-100 px-4 py-2 w-full">
    <%= post.content %>
  </div>

</div>
